<table mat-table [dataSource]="stocks">
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>
            <h2> Symbol </h2>
        </th>
        <td class="stock-symbol" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
            <h2> Price </h2>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Change Column -->
    <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef>
            <h2>Change</h2>
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'stock-price-increasing': element.percentChange > 0, 'stock-price-decreasing': element.percentChange < 0}">
            {{element.change}}
        </td>
    </ng-container>

    <!-- % Change Column -->
    <ng-container matColumnDef="percentChange">
        <th mat-header-cell *matHeaderCellDef>
            <h2>% Change</h2>
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'stock-price-increasing': element.percentChange > 0, 'stock-price-decreasing': element.percentChange < 0}">
            {{element.percentChange > 0 ? '&#160;' : '' }}{{element.percentChange}}% <mat-icon>{{ element.percentChange
                > 0 ?
                'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>